<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Option</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Add New Option</h1>

    <div class="form-container">
        <form th:action="@{/options/add}" method="post">
            <label for="name">Option Name:</label>
            <input type="text" id="name" name="name" autocomplete="off" required />
            <button class="btn-success" type="submit">Add Option</button>
        </form>
        <nav class="mt-20 center">
            <a th:href="@{/options/compare}">← Back to Compare</a>
        </nav>
    </div>
</div>
</body>
</html>
