<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Leaderboard</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <h1>Leaderboard</h1>
  <table>
    <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="option, iterStat : ${options}">
      <td th:text="${iterStat.index + 1}"></td>
      <td th:text="${option.name}"></td>
      <td th:text="${option.upvote - option.downvote}"></td>
    </tr>
    </tbody>
  </table>
  <nav class="mt-40">
    <a th:href="@{/options/compare}">← Back to Compare</a>
  </nav>
</div>
</body>
</html>
